@using FilmBookmarkService.Core

@model List<Film>

@{
    ViewBag.Title = "Your Films.";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">

        @foreach (var film in Model)
        {
            <div class="film clearfix" id="@film.Id">

                <div class="film-part"><span class="glyphicon glyphicon-star-empty"></span></div>

                <div class="film-part">@film.Id</div>
                <div class="film-part">@film.Name</div>
                <div class="film-part">@film.Url</div>

                <div class="film-edit-buttons">
                    <span class="edit-button glyphicon glyphicon-pencil"></span>
                    <span class="remove-button glyphicon glyphicon-trash"></span>
                </div>

            </div>
        }
        
        <div class="add-film">
            <h4>Add new film:</h4>
            <div class="clearfix">
                <input id="new-film-name" class="film-part form-control width-m" type="text" name="name" placeholder="Name" />
                <input id="new-link" class="film-part form-control width-m" type="text" name="name" placeholder="Link" />
                <input id="new-season" class="film-part form-control width-s" type="text" name="name" placeholder="Season" />
                <input id="new-episode" class="film-part form-control width-s" type="text" name="name" placeholder="Episode" />
                
                <p><a id="add-button" class="film-part btn btn-default" href="#"><span class="glyphicon glyphicon-plus"></span><span> Add</span></a></p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fbs")

    @if (Model != null)
    {
        <script type="text/javascript">
            $(document).ready(function() {
                initilizeFilmHandler({
                    addFilmUrl: "@Url.Action("AddFilm")",
                    editFilmUrl: "@Url.Action("EditFilm")",
                    removeFilmUrl: "@Url.Action("RemoveFilm")",
                    getStreamUrl: "@Url.Action("GetStream")"
                });
            });
        </script>
    }
}