@using FilmBookmarkService.Core

@model List<Film>

@{
    ViewBag.Title = "Your Films.";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-10">

        @foreach (var film in Model)
        {
            <div class="film clearfix" id="@film.Id">

                <div class="film-view">
                    <div class="film-part button edit-button"><span class="glyphicon glyphicon-pencil"></span></div>

                    <div class="film-part">@film.Id</div>
                    <div class="film-part film-name">@film.Name</div>
                    <div class="film-part url"><a href="@film.Url" target="_blank">@film.Url</a></div>

                    <div class="film-part button prev-episode-button"><span class="glyphicon glyphicon-chevron-left"></span></div>
                    <div class="film-part stream">placeholder</div>
                    <div class="film-part button next-episode-button"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>

                <div class="film-editor" style="display: none">
                    <input class="edit-film-name film-part-edit form-control width-m" type="text" name="name" placeholder="Name" value="@film.Name" />
                    <input class="edit-url film-part-edit form-control width-m" type="text" name="name" placeholder="Url" value="@film.Url" />
                    <input class="edit-season film-part-edit form-control width-s" type="text" name="name" placeholder="Season" value="@film.Season" />
                    <input class="edit-episode film-part-edit form-control width-s" type="text" name="name" placeholder="Episode" value="@film.Episode" />

                    <a class="film-part btn btn-success save-button" href="#"><span class="glyphicon glyphicon-floppy-disk"></span><span> Save</span></a>
                    <a class="film-part btn btn-danger remove-button" href="#"><span class="glyphicon glyphicon-trash"></span><span> Remove</span></a>
                </div>
            </div>
        }

        <div class="add-film">
            <h4>Add new film:</h4>
            <div class="clearfix">
                <input id="new-film-name" class="film-part-edit form-control width-m" type="text" name="name" placeholder="Name" />
                <input id="new-url" class="film-part-edit form-control width-m" type="text" name="name" placeholder="Url" />
                <input id="new-season" class="film-part-edit form-control width-s" type="text" name="name" placeholder="Season" />
                <input id="new-episode" class="film-part-edit form-control width-s" type="text" name="name" placeholder="Episode" />

                <a id="add-button" class="film-part btn btn-primary" href="#"><span class="glyphicon glyphicon-plus"></span><span> Add</span></a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fbs")

    @if (Model != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                initilizeFilmHandler({
                    addFilmUrl: "@Url.Action("AddFilm")",
                    editFilmUrl: "@Url.Action("EditFilm")",
                    removeFilmUrl: "@Url.Action("RemoveFilm")",
                    getStreamUrl: "@Url.Action("GetStream")",
                    nextEpisodeUrl: "@Url.Action("NextEpisode")",
                    prevEpisodeUrl: "@Url.Action("PrevEpisode")"
                });
            });
        </script>
    }
}