@using FilmBookmarkService.Core

@model List<Film>

@{
    ViewBag.Title = "Your Films.";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-8">

        @foreach (var film in Model)
        {
            <div class="film clearfix">

                <div class="film-part"><span class="glyphicon glyphicon-star-empty"></span></div>

                <div class="film-part">@film.Id</div>
                <div class="film-part">@film.Name</div>

                <div class="film-edit-buttons">
                    <span class="edit-button glyphicon glyphicon-pencil"></span>
                    <span class="edit-button glyphicon glyphicon-trash"></span>
                </div>

            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fbs")

    @if (Model != null)
    {
        <script type="text/javascript">
            $(document).ready(function() {
                initilizeFilmHandler({ headLine: "@ViewBag.Title" });
            });
        </script>
    }
}