@model List<FilmViewModel>

<div class="playlist clearfix">
    <a class="left playlist-item @ViewBag.FavoritesClass" href="@Url.Action("Index")">Favorites</a>
    <a class="left playlist-item @ViewBag.AllFilmsClass" href="@Url.Action("Index", "Film", new { allFilms = true })">All Films</a>
</div>

<div class="row">
    <div class="col-md-10">
        
        <div class="films">
            @foreach (var film in Model)
            {
                <div class="film clearfix" id="@film.Id">

                    <div class="film-view">
                        @if (ViewBag.CanChangeSortIndex)
                        {
                            <div class="sort"><img src="~/Content/images/grippy_large.png"/></div>
                        }

                        <div class="film-part button expand-button"><span class="glyphicon glyphicon-chevron-right"></span></div>
                        <div class="film-part cover"><img src="@film.CoverUrl"/></div>
                        <div class="film-part">
                            <div class="film-part favorite"><img class="favorite-icon" width="16" src="@(film.IsFavorite ? "/Content/images/star.png" : "/Content/images/star-disabled.png")"/></div>
                            <div class="film-part url"><a href="@film.Url" target="_blank">@film.Name</a></div>
                            <div class="film-part indicator" style="display: none"></div>
                            <div class="film-part button edit-button"><span class="glyphicon glyphicon-pencil"></span></div>

                            <div class="clearfix"></div>
                            <div class="film-part info">-</div>

                            <div class="clearfix"></div>
                            <div class="film-part mirrors">
                                <select class="mirrors-selection"></select>
                            </div>
                            
                            <div class="clearfix"></div>
                            <div>
                                <div class="film-part button prev-episode-button control-button"><span class="glyphicon glyphicon-step-backward"></span>&nbsp;&nbsp; Prev</div>
                                <div class="film-part stream"><img src="~/Content/images/ajax-loader.gif" /></div>
                                <div class="film-part button next-episode-button control-button">Next &nbsp;&nbsp;<span class="glyphicon glyphicon-step-forward"></span></div>
                            </div>
                        </div>
                    </div>

                    <div class="film-editor" style="display: none">
                        <div class="row">
                            <input class="edit-film-name film-part-edit form-control width-m" type="text" name="name" placeholder="Name" value="@film.Name" />
                            <input class="edit-url film-part-edit form-control width-m" type="text" name="url" placeholder="Url" value="@film.UndecoratedUrl" />
                            <input class="edit-cover-url film-part-edit form-control width-m" type="text" name="coverulr" placeholder="Cover Url" value="@film.CoverUrl" />
                            <input class="edit-season film-part-edit form-control width-s" type="text" name="season" placeholder="Season" value="@film.Season" />
                            <input class="edit-episode film-part-edit form-control width-s" type="text" name="episode" placeholder="Episode" value="@film.Episode" />
                        </div>
                        
                        <div class="row edit-row2">
                            <a class="film-part btn btn-success save-button" href="#"><span class="glyphicon glyphicon-floppy-disk"></span><span> Save</span></a>
                            <a class="film-part btn btn-danger remove-button" href="#"><span class="glyphicon glyphicon-trash"></span><span> Remove</span></a>
                            <a class="film-part cancel-button" href="#">Cancel</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="add-film">
            <h4>Add new film:</h4>
            <div class="clearfix">
                <input id="new-film-name" class="film-part-edit form-control width-m" type="text" name="name" placeholder="Name" />
                <input id="new-url" class="film-part-edit form-control width-m" type="text" name="url" placeholder="Url" />
                <input id="new-cover-url" class="film-part-edit form-control width-m" type="text" name="coverurl" placeholder="Cover Url" />
                <input id="new-season" class="film-part-edit form-control width-s" type="text" name="season" placeholder="Season" />
                <input id="new-episode" class="film-part-edit form-control width-s" type="text" name="episode" placeholder="Episode" />

                <a id="add-button" class="film-part btn btn-primary" href="#"><span class="glyphicon glyphicon-plus"></span><span> Add</span></a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/fbs")

    @if (Model != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                initializeFilmHandler({
                    addFilmUrl: "@Url.Action("AddFilm")",
                    editFilmUrl: "@Url.Action("EditFilm")",
                    removeFilmUrl: "@Url.Action("RemoveFilm")",
                    getStreamUrl: "@Url.Action("GetStream")",
                    getMirrorsUrl: "@Url.Action("GetMirrors")",
                    nextEpisodeUrl: "@Url.Action("NextEpisode")",
                    prevEpisodeUrl: "@Url.Action("PrevEpisode")",
                    isAnotherEpisodeAvailableUrl: "@Url.Action("IsAnotherEpisodeAvailable")",
                    updateSortOrderUrl: "@Url.Action("UpdateSortOrder")",
                    setIsFavoriteUrl: "@Url.Action("SetIsFavorite")"
                });
            });
        </script>
    }
}